.learning-container {

}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

#learning-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 10px;
}

.results-p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

