footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.main-form {
    width: 80%;
    padding: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(173deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    padding-bottom: 10px;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.Label {
    margin-bottom: 10px;
}

.Input {
    margin-bottom: 10px;
    margin-top: 5px;
}

.Button {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.error-message p {
    border-radius: 10px;
    background-color: #f5c1bc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

#language_select {
    margin: 10px auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .main-form {
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .main-form {
        max-width: 50%;
    }
}