nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.header-link {
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration: none;
    color: black;
}

h1 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}