.login-p {
    width: 80%;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-bottom: 1px dotted #6e6e6e;
}
